spring:
  datasource:
    url: JDBC:mysql://localhost:3306/event_management_db
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: nysk2002

  h2:
    console:
      enabled: true

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQLDialect
  logging:
    level:
      org.springframework.web: DEBUG

server:
  port: 8080
